<main class="main mt-4">

  <!-- Page Content -->
  <section class="content">
    <div class="container mt-3">
      <h2>Users List</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; trackBy: trackByFn">
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>
              <i class="fa-solid fa-eye" (click)="navigate(user._id, 'View')"></i>
              <i class="fa-regular fa-pen-to-square" (click)="navigate(user._id, 'Edit')"></i>
              <i class="fa-solid fa-trash" (click)="confirmDelete(user)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-end mt-3">
        <button class="btn btn-primary btn-lg" (click)="goToCreateUser()">Create</button>
      </div>
    </div>
  </section>
</main>

